<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Create New Game</h4>
        </header>
        <article class="card-body">
          <form action="gameSetup" method="POST">
            <div class="form-group">
              <label>Enter Username</label> <input type="text" class="form-control" placeholder="Username" name="username" required>
            </div>
            <div class="form-group">
              <label>Game Time Limit</label> <input class="form-control" type="number" name="timeLimit" placeholder="Time Limit" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" RouterLink="">Start Game</button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
